* {
	margin:0;
	padding:0;
}
body {
	font-family:Georgia, Arial;
	background-image: url(../images/bg_banner.jpg);
	background-position:top left;
	background-repeat:repeat;
	text-align:center;
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size:small; /* für andere Browser */
}
* html body {
	font-size:x-small;
	f\ont-size:small;
}
html>body { /*für Opera*/
	font-size:small;
}
/*   =Wrapper 
------------------------------------------------------*/
#wrapper {
	width:860px;
	margin:0 auto;
	padding: 0px;
	background: #eeeeee;
	text-align:center;
}
/*End Wrapper */

h1 {
	font-size:160%;
	color:#ffffff;
	margin-bottom:10px;
}
#sidebar h2 {
	font-size:110%;
	color:#609a27;
	border-bottom:1px solid #609a27;
	margin-bottom:5px;
	margin-left:0px;
}
p {
	/*font-size:120%;*/
	margin-bottom:20px;

}
ul {
	list-style:none;
}
a {
	color:#000000;
	text-decoration:none;
}
a:hover {
	color:#b10909;
}
a[href^="http:"] {
	background:url(../images/link_extern.png) no-repeat right top;
	padding-right:10px;
	text-decoration:underline;
}

#tooltip {
	cursor:help;
	padding-right:10px;
	background:url(../images/question.png) no-repeat right top;
	}


/* =MastHead der Header Bereich
----------------------------------------------------*/
#masthead {
	position:relative;
	text-align:left;
	background: #c02121 url(../images/rounded_corner.png) bottom left repeat-x;
	height:115px;
	z-index:2;
}
#logo {
	text-align:right;
	height:100px;
	background:url(../images/logo.png) no-repeat left center;
	width:100%;
	padding-top:10px;
}
#headline {
	position:relative;
	top:-10px;
	left:550px;
	width:300px;
	height:50px;	
	background: url(../images/hochschul_headline.png) top left no-repeat;
}
#logo #meisterbanner {
	position:relative;
	top:-10px;
	left:783px;
	width:77px;
	height:50px;
	background:url(../images/meisterbanner.png) top left no-repeat;
}
#masthead h1 {
	font-size:200%;
	text-align:center;
	margin-top:1.3em;
}
#masthead p img {
	border: 2px solid #ffffff;
	margin-top:0.3em;
	text-align:center;

}
#masthead p {
	text-align:center;
	margin:0;
	padding:0;
}
#head {

	text-align:center;
	background:url(../images/head-bg-grad.png) repeat-x top left;
	height:9.5em;

}
#head:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#head li{
	float:left;
	text-align:left;
	width:40%;
}
#head li.center {
	width:19%;
}

/* = Navigation 
--------------------------------*/
#nav{
	position:relative;
	padding-left:25px;
	font-size:16pt;
	font-weight:bold;
	background:#eeeeee;
}
#nav:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#nav li {
	float:left;
	display:inline;
}
#nav a {
	display:block;
	padding:0 1em;
	float:left;
	line-height:1.8em;
	text-decoration:none;
	color:#777777;
	font-weight:bold;
	letter-spacing:-0.06em;
}

#nav a:hover,#nav .selected  a{
	background: url(../images/nav.gif) bottom center no-repeat;
	z-index:3;
}
#nav a:hover {
	color:#333333;
}
#nav .selected a {
	cursor:default;
	color:#b20b0b;
}
#nav #team {
	padding-left:25px;
	background: url(../images/team.png) top left no-repeat;
}
#nav #cose {
	padding-left:17px;
	background: url(../images/cose_nav.png) top left no-repeat;
}

/**
#nav li.selected  {
	background: #8ccb4d;
}**/
.clear {
	clear:both;
}


/* =Content 
------------------------------*/
#content{
	padding-top:10px;
	float:left;
	width:70%;
	background:#609a27; /*url(../images/rounded_corner_green.png) top left repeat-x;*/
	text-align:center;
}
#content p {
	letter-spacing:0.05em;
	color:#333333;
	font-weight:bold;
	font-size:110%;
}
#content h1 {
	font-size:250%;
	letter-spacing:-0.05em;
}
#content h2 {
	color:#ffffff;
	font-size:130%;
	letter-spacing:-1;
	padding-bottom:5px;
	font-weight:bold;

}
#content a[href^="http:"] {
	background:url(../images/link_extern_red.png) no-repeat right top;
	padding-right:10px;
	color:#ffffff;
	text-decoration:underline;
}

/*=Sidebar
-------------------------------------
*/
#sidebar {
	float:left;
	width:30% !important;
	width:29.9%;
	background:#eeeeee;
	text-align:center;
	padding-right:0px;
}
#sidebar dl{
	margin:0;
	padding:0;
	margin-top:5px;
	border-bottom:1px solid #d9d4c5;		
	border-top:1px solid #f3f1ea;	
}
#sidebar dt {
	margin:0;
	padding:0;
	font-size:130%;
	letter-spacing:-0.03em;
	color:#609a27;
	border-bottom:1px solid #609a27;
	/*background:url(../images/rounded_corner_green_small.png) bottom left repeat-x;*/
	margin-bottom:5px;
	margin-left:0px;
}
#sidebar dt img {
	top:10px;
}
#sidebar dt a {
	color:#609a27;
	text-decoration:none;
}
#sidebar dd{
	padding-left:10px;
	color:#777777;
}
#sidebar li {
	background:url(../images/ball.png)no-repeat 0 50%;
	padding:5px 0 5px 30px;
	border-top:1px solid #f3f1ea;	

}
#sidebar ul {
	margin-bottom:5px;
	border-top:1px solid #f3f1ea;	

}
#sidebar p.news {
	font-size:90%;
	padding-left:10px;
	border-top:1px solid #f3f1ea;	

}
#sidebar .weather {
	font-size:80%;
}


#sidebar dl.weathertmp {


}


#sidebar #condImg {
	width:30px;
	height:30px;
}
#sidebar #field {
	background: url(../images/field.png) no-repeat top left;
	height:140px;
	width:165px;
}


#sidebar #condition,#condImage,#temp {
	float:left;	
}
.teamplayer {
	background:#919191;
	width:100%;
}
table#standings {
	margin-left:5px;
	font-size:80%;
	border-collapse:collapse;
	border:1px solid #eeeeee;
	background:#fff;
	width: 90%;

}
#standings th {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #6C8F49;/*4f6b72;*/
	border-right: 1px solid #8ccb4d;
	border-bottom: 1px solid #8ccb4d;
	border-top: 1px solid #8ccb4d;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	padding: 2px 2px 2px 4px;
	background: #b2fd67 url(../images/bg_header.jpg) no-repeat;
}
#standings td{
	border-right: 1px solid #8ccb4d;
	border-bottom: 1px solid #8ccb4d;
	background: #fff;
	padding: 6px 6px 6px 6px;
	color: #4f6b72;
}
#standings .odd{
	background:url(../images/tablegrid.png) top left repeat-x;
}
#standings col {
	border-right:1px solid #ccc;
}
#standings col #pos {
	text-align:center;
}
.shell {
	margin:0 auto;
	width:85%;
	text-align:left;
}
p.box {
	background:#ddccaa;
	border:1px solid #c1c1c1;
	font-size:150%;
	font-weight:bold;
}
p.cs {
	border:1px solid #c1c1c1;
	font-size:150%;
	font-weight:bold;
	background:#ddccaa url(../images/cs.png) 10px 3px no-repeat;
	text-align:center;
	height:60px;
	padding-top:5px;
	padding-left:23px;
}
p.cs img {
	padding-left:5px;
}
#teambox {
	width:34%;
	margin-right:15%;
	margin-left:6%;
	height:90px;
	background:#ddccaa;
	float:left;
	border:1px solid #c1c1c1;
}
#teambox2 {
	float:left;
	width:34%;
	margin-right:10%;
	height:90px;
	background:#ddccaa;
	border:1px solid #c1c1c1;
}
#teambox2:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

table#player {
	position:relative;
	top:-4px;
	left:-4px;
	border-collapse:collapse;
	border:1px solid #eeeeee;
	font-size:90%;
	background:#fff;
}
#player caption {
	font-size:100%;
	font-weight:bold;
	margin:1em 0;
}
#player tr:hover {
	background: #ccc;
}
#player th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #6C8F49;/*4f6b72;*/
	border-right: 1px solid #8ccb4d;
	border-bottom: 1px solid #8ccb4d;
	border-top: 1px solid #8ccb4d;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #b2fd67 url(../images/bg_header.jpg) no-repeat;
}

#player td {
	border-right: 1px solid #8ccb4d;
	border-bottom: 1px solid #8ccb4d;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}
#player tr.odd{
	background:url(../images/tablegrid.png) top left repeat-x;
}
#player col {
	border-right:1px solid #ccc;
}
#player col #pos {
	text-align:center;
}
#player .teamsmall {
	font-size:80%;
}
col #nr {
	text-align:center;
}
#player img {
	border: 2px solid #cccccc;
}
#player .tooltip{
	position:relative;
	cursor:help;
	background:url(../images/question.png) no-repeat right top;
	padding-right:10px;
}
#player_file dt {
	font-size:13pt;
	color:#ffffff;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:5px;
	border-bottom:1px solid #ffffff;
}
#player_infos {
	float:left;
}
#pl_photo_border {
	width:150px;
	padding:6px;
	background:#ffffff;
	border:2px solid #dfdfdf;
}
#playerphoto img{
	border:1px solid #dddddd;
}
#playerdescription {
	width:400px;
	display:block;
}


#footer {
	position:relative;
	padding:8px 0 1em;
	background:#eeeeee;
	margin-top:2px;
	border-top:1px solid #000000;
	font-size:70%;
}
#footer p {
	margin:0;
	padding:0;
}
#footer a {
	text-decoration:underline;
	font-size:110%;
}
#footer a:hover {
	color:#b20b0b;
}
#wrapper,#footer {
	min-width:740px;
	max-width:1200px;
}
